 *,
*::before,
*::after {
	box-sizing: border-box;
}


.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100vw;
	overflow: hidden;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: var(--white);
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

@keyframes invisible {
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes showing {
	0% {
		opacity: 0;
	}
	49.999% {
		opacity: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: var(--primary-dark);
	background-color: transparent;
	border: none;
	outline: none;
	transition: all .3s ease-out;
  	font-weight: 600;
	width: 100%;
	text-align: center;
}

.switcher-login{
	transform: translateX(20%);
	z-index: 10;
}

.switcher-signup{
	transform: translateX(-20%);
	z-index: 10;
}

.form-wrapper.is-active .switcher-login {
	color: var(--white);
	transform: translateX(50%);
	z-index: 1;
}

.form-wrapper.is-active .switcher-signup {
	color: var(--white);
	transform: translateX(-50%);
	z-index: 1;
}

.underline {
	position: absolute;
	bottom: -5px;
	overflow: hidden;
	pointer-events: none;
	width: 40%;
	height: 2px;
	left: 30%;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-signup .underline::before{
	transform: translateX(200%);
}

.switcher-login .underline::before {
	transform: translateX(-200%);
}


.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}






/* .form-login{
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
    max-width: 263px; 
	transform-origin: top;
    border-radius: 30px;
}

.form-signup{
	overflow: hidden;
	min-width: 520px;
	margin-top: 50px;
	padding: 30px 25px;
    max-width: 500px; 
	transform-origin: top;
    border-radius: 30px;
} */

.form {
	overflow: hidden;
	min-width: 500px;
	margin-top: 50px;
	padding: 30px 25px;
    max-width: 520px; 
	transform-origin: top;
    border-radius: 30px;
}

.wrapper{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

.form-wrapper.is-active .form-login .header-form, .form-wrapper.is-active .form-signup .header-form{
	animation: showing .3s ease-in forwards;
}

.form-wrapper .form-login .header-form, .form-wrapper .form-signup .header-form {
	animation: invisible .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: var(--primary-dark);
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: var(--white);
		transform: translate(50%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: var(--white);
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: var(--primary-dark);
		transform: translate(47%, -5px) scaleY(0.93);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: var(--primary-dark);
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: var(--white);
		transform: translate(-50%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: var(--white);
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: var(--primary-dark);
		transform: translate(-47%, 0px) scaleY(1.07);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: var(--black);
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: var(--grey);
  border: 1px solid #cddbef;
/*   border-radius: 2px; */
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
/* 	border-radius: 25px; */
	border: none;
	transition: all .3s ease-out;
}

.form [type='button'] {
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
/* 	border-radius: 25px; */
	border: none;
	transition: all .3s ease-out;
}

.btn-auto{
		color: var(--white);
		background: var(--primary-dark);
		transform: translateX(-30%);
		padding: 0 10px;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .2s ease-in;
}

.btn-login {
  color: var(--white);
	background: var(--primary-dark);
	transform: translateX(-30%);
}


.btn-signup {
	color: var(--white);
	background: var(--primary-dark);
	transform: translateX(30%);
}

.btn-signup:disabled {
	color: var(--white);
	background: var(--primary-dark-disabled);
	transform: translateX(30%);
}

.btn-signup:disabled:hover {
	color: var(--white);
	background: var(--primary-dark-disabled);
	transform: translateX(30%);
	box-shadow: inset 0 0 0 0px var(--primary-dark);
}




.button-wrapper {
	display: flex;
	flex-direction: row;
}


.btn-login:hover {
  color: var(--primary-dark);
	box-shadow: inset 0 0 0 1px var(--primary-dark);
	background: var(--white);
	transform: translateX(-30%);
  transition: .5s ease;
}

.btn-auto:hover {
	color: var(--primary-dark);
	  box-shadow: inset 0 0 0 1px var(--primary-dark);
	  background: var(--white);
	  transform: translateX(-30%);
	transition: .5s ease;
  }

.btn-signup:hover {
	color: var(--primary-dark);
	box-shadow: inset 0 0 0 1px var(--primary-dark);
	background: var(--white);
	transform: translateX(30%);
}


#bg{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
}

.header-form{
  width: calc(50px + 100%);
  height: auto;
  margin-left: -25px;
  margin-top: -30px;
  margin-bottom: 20px;
}


.form-small-text{
	font-size: 0.7em;
  }

@media (max-width: 560px) {

	.form-wrapper {
		width: 80vw;
	}
	.form {
		min-width: 10vw;
	}
	
	.wrapper{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}


	.switcher-login{
		text-align: center;
		padding-right: 50px;
	}
	
	.switcher-signup{
		text-align: center;
		padding-left: 10px;
	}
	
	.form-wrapper.is-active .switcher-login {
		color: var(--white);
		text-align: center;
	/* 	transform: translateX(0%); */
	}
	
	.form-wrapper.is-active .switcher-signup {
		color: var(--white);
		text-align: center;
		/* transform: translateX(-20%); */
	}

	.underline {
		display: none;
	}
	
	.underline::before {
		display: none;
	}
	
	.switcher-signup .underline::before{
		display: none;
	}
	
	.forms-section {
		overflow: auto;
	}
	

	
	@keyframes hideLogin {
		0% {
			background-color: var(--white);
			transform: translate(35%, -20px);
		}
		50% {
			transform: translate(0, 0);
		}
		100% {
			background: transparent;
			transform: translate(47%, -5px) scaleY(0.93);
		}
	}


	
	@keyframes hideSignup {
		0% {
			background-color: var(--white);
			transform: translate(-35%, -20px) scaleY(1);
		}
		50% {
			transform: translate(0, 0) scaleY(.8);
		}
		100% {
			background: transparent;
			transform: translate(-47%, 0px) scaleY(1.07);
		}
	}
	




	@keyframes showLogin {
		0% {
			background: transparent;
			transform: translate(40%, 10px);
		}
		50% {
			transform: translate(0, 0);
		}
		100% {
			background-color: var(--white);
			transform: translate(50%, -20px);
		}
	}
	

	@keyframes showSignup {
		0% {
			background: transparent;
			transform: translate(-40%, 10px) scaleY(.8);
		}
		50% {
			transform: translate(0, 0) scaleY(.8);
		}
		100% {
			background-color: var(--white);
			transform: translate(-50%, -20px) scaleY(1);
		}
	}

	.forms-section{
		background-color: var(--accent);
		width: 100%;
	}


	.btn-auto{
		color: var(--white);
		background: var(--primary-dark);
		transform: translateX(0%);
		padding: 0 10px;
		}


		.btn-auto:hover {
			color: var(--primary-dark);
			  box-shadow: inset 0 0 0 1px var(--primary-dark);
			  background: var(--white);
			  transform: translateX(0%);
			transition: .5s ease;
		  }


  }


