<!-- <label for="">Edad Uno</label>&nbsp;
<input type="number" [(ngModel)]="edadUno">
<br/><br/>
<label for="">Edad Dos</label>&nbsp;
<input type="number" [(ngModel)]="edadDos" >
<br/><br/>
<label for="">Promedio</label>&nbsp;
<input type="number" [(ngModel)]="promedio" disabled>
<br/><br/>
<input type="button" (click)="calcular()" value="Calcular"> &nbsp;
<input type="button" (click)="limpiar()" value="Limpiar"> 
 -->


<li>
    <a class="link" routerLink="hangman">Ahorcado</a>
</li>
<li>
    <a class="link" routerLink="greater-or-less">Mayor o menor</a>
</li>

<!--   <router-outlet></router-outlet> -->


