<div id="bg"></div>
<div id="about-wrapper">
    <div class="about-item">
        <div class="profile-mask">
            <img class="avatar" src="../../../assets//img//profile-pic.jpg" alt="" id="profile">
        </div>

        <h2 class="reset">Yanina Perez</h2>
        <p class="reset">LAB IV 4B 2022 2do Cuatrimestre</p>
        <div class="wrapper">
            <p class="reset"><a class="btn btn-secondary" href="https://github.com/Syridiana" target="_blank">Github
                    &raquo;</a></p>
            <p class="reset"><a class="btn btn-secondary" routerLink="../games/my-game">Mi juego - Puzzle
                    &raquo;</a></p>
        </div>
        <h2 class="reset">Mi juego - Puzzle</h2>
        <p class="reset">Instrucciones: Ordená correctamente las piezas para armar la imagen de ejemplo que se muestra.</p>
    </div>
</div>