/* You can add global styles to this file, and also import other style files */
/* :root {
    --blue: #385FFC;
    --white: #FDFDFD;
    --black: #0D1311;
    --orange: #FB992A;
    --pink: #FCA2D6;
    --peach: #FFC09F;
    --grey: #e8ecff;
    --magenta: #ff0077;
} */


:root {
    --accent: #f76ac8;
    --white: #FDFDFD;
    --primary-dark: #092e6d;
    --primary-dark-disabled: #98a0ad;
    --dark: #092e6d;
    --orange: #e99f4c;
    --peach: #FFC09F;
    --light: #eddcd9;
    --grey: #f2ebe9;
    --dark-grey: #1c1c1c;
    --sky: #00C2FF;
    --black: #000032;
}




body {
    padding-top: 3rem;
/*     padding-left: 2rem;
    padding-right: 2rem; */
    background-color: var(--white);
}


@media (min-width: 768px) {
    body {
        padding-top: 5rem;
    }
    
  }


/* Blue: #385FFC
Pink: #FCA2D6
Orange: #FB992A
Light Pink: #FFC09F
Black: #0D1311
White: #FDFDFD */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
